body{
    color: 	#483D8B;
    text-align:center;
    font-family:Helvetica;
    font-size: 50px;
    background: #F8F8FF;
}
#cont{
    display: inline-block;
    width:auto ; 
    background: #333;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
.titulo{
    
    display: inline;
    color: rgb(177, 14, 12);
    font-size: 40px;
    background:rgb(139, 138, 138);
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.parrafo{
    
    display: inline-block;
    font-size:20px;
    background: rgb(139, 138, 138);
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.cont_img{
   
    text-align: center;
       display: block;
    border-radius: 100%;
    align-items: center;
}
.img{
    border-radius: 100%;
    
}